.routes {
  text-align: left;
  width: 60%;
  overflow: auto;
  height: 23em;
  box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, 0.2);
  background-color: #0000000d;
}

.uri {
  border-bottom: 1px solid #00000021;
  padding: 0.5em;
}
.path {
  color: #533bdc;
  padding: 0.5em 0;
}
.props {
  font-size: 0.8em;
  font-family: monospace;
  line-height: 2em;
}
.prop-key {
  color: #946600;
}
.prop-value {
  color: #246f0b;
}